body{
    background-color: #363636;
}
.calculator {
    width: 250px;
    margin: 0 auto;
    text-align: center;
  }
  
  #display {
    margin-top: 20px;
  }
  
  .buttons button {
    width: 48px;
    height: 48px;
    margin: 2px;
  }

  #zero-button{
    width: 153px;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
  }

  #comma-button{
    margin: 0;
    margin-right: 2px;
    margin-top: 2px;
  }
  
  #equal-button{
    height: 100px;
    margin: 2px;
    background-color: #FFA500;
  }
  #equal-button:hover{
    background-color: #FFFFFF;
  }

  #dot-button{
    background-color: #FFA500;
  }
  #dot-button:hover{
    background-color: #FFFFFF;
  }

  #sum-button{
    background-color: #FFA500;
  }
  #sum-button:hover{
    background-color: #FFFFFF;
  }

  #sub-button{
    background-color: #FFA500;
  }
  #sub-button:hover{
    background-color: #FFFFFF;
  }

  #C-button{
    background-color: #A9A9A9;
  }
  #C-button:hover{
    background-color: #FFFFFF;
  }
  
  #slash-button{
    background-color: #A9A9A9;
  }
  #slash-button:hover{
    background-color: #FFFFFF;
  }

  #multiplication-button{
    background-color: #A9A9A9;
  }
  #multiplication-button:hover{
    background-color: #FFFFFF;
  }
  
  #four-line{
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  #line{
    display: flex;
    justify-content: center;
  }

  #four-line-itens{
    display: flex;
  }

  #group-last-lines{
    display: flex;
    justify-content: center;
  }

  #left-last-line{
    width: 100%;
  }
  
  .form-control:disabled{
    margin-inline: 22px;
    background-color: transparent;
    color: #FFFFFF;
  }